*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share css */
.inter{
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 13px 16px;
    border-radius: 4px;
    background-color: #469165;
    border: 1px solid #469165;
    cursor: pointer;
    transition: all 0.3s ease ;
}
.btn:hover {
    transform: scale(1.05);
}
.btn2{
     font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 13px 16px;
    border-radius: 4px;
    background: none;
    border: 1px solid #fff;
    margin-left: 13px;
    cursor: pointer;
    transition: all 0.3s ease ;
}
.btn2:hover {
    transform: scale(1.05);
}
/* main css */

nav .nav-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-bar ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    transition: all linear 0.3s;
}
.nav-bar ul li a:hover{
    color: #469165;
}
#banner{
    background:url("../assets/hero-bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 115px 120px 179px;
}
#banner .banner-container{
  max-width: 770px;
   margin: 0 auto;
  text-align: center;
}
.banner-container .dot{
    background-color: #fff;
    color: #469165;
    padding: 8px 12px;
    width: 229px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius:20px;
    margin-bottom: 16px;
}
.banner-container .heading{
    font-size: 72px;
    line-height: 84px;
    color: #fff;
    margin-bottom: 16px;
}
.banner-container .heading span{ 
color: #30B868;
}
.banner-container .banner-p{
    font-size: 18px;
    line-height: 34px;
    color: #fff;;
    padding-bottom: 16px;
}
#notes{
    background-color: #fbfbfb;
    margin-bottom: 120px;
}

#notes .notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.notes-container h2{
    padding-top: 70px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-container p{
    color:#627382;
    line-height: 20px;
    margin-bottom: 44px;
}
.notes-container .notes-box{
display: flex;
gap: 24px;
}
.notes-box .note-card{
    background-color: #fff;
    width: 332px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000060;
    padding: 59px 24px 0;
}
.note-card .card-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    margin: 0 auto;
    padding: 14px;
    margin-bottom: 16px;
}
.note-card  h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
#solution{
     margin-bottom: 120px;
}
.p-col{
    color: #30B868;
    font-weight: 500;
    margin-bottom: 16px;
}
#solution .solution-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}
.solution-container .design-img{
    width: 600px;
}
.solution-container .solution-heading{
    width: 515px;
}
.solution-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.solution-heading .p-col2{
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.solution-heading ul li{
list-style: none;
display: flex;
gap: 6px;
align-items: center;
padding-bottom: 16px;
}